[package]
name = "cmk"
version = "0.1.0"
edition = "2024"
description = "A CLI tool for managing CMake projects"

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.53", features = ["derive"] }
futures = "0.3.31"
octocrab = "0.48.0"
reqwest = { version = "0.12.24" }
serde = "1.0.228"
serde_json = "1.0.145"
sha2 = "0.10.9"
tokio = { version = "1.48.0", features = ["net", "macros", "rt-multi-thread"] }

[profile.release]
lto = true
#strip = true
